$datepicker-month-button-arrow-width: 0px;
$datepicker-item-height: 36px;
$datepicker-item-width: 39px;
$datepicker-item-padding: 0;
$datepicker-border-color: white;
$datepicker-header-background-color: white;
$datepicker-item-hover-background-color: #52acff;
$datepicker-item-selected-background-color: white;
$datepicker-item-selected-border-color: #333333;
$datepicker-column-header-font-weight: normal;
$datepicker-border-width: 0px;
$datepicker-next-image: disable;
$datepicker-prev-image: disable;
$datepicker-month-button-arrow-image: disable;
$datepicker-item-font-size: 14px;
$datepicker-item-text-align: center;
$datepicker-item-color: #333333;
$datepicker-column-header-text-align: center;
$datepicker-column-header-item-padding: 0;
$datepicker-item-border-width: 0px;
$datepicker-item-prev-next-color: white;
$datepicker-item-disabled-color: #aaaaaa;
$datepicker-item-disabled-background-color: white;